trigger:
- main

pool:
  vmImage: windows-latest

steps:
- script: Deploy to dev
  displayName: 'Deploy to Dev'

- task: AzureFileCopy@4
  inputs:
    SourcePath: 'src'
    azureSubscription: 'Microsoft Partner Network(a43e7687-a3e6-4d20-8778-bcbd7b4a6721)'
    Destination: 'AzureBlob'
    storage: 'jordijolinknlwebdev'
    ContainerName: '$web'
    sasTokenTimeOutInMinutes: '30'